<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav><a href="/">Go Back</a></nav>
    <h1>New</h1>
    <form class="new" action="/" method="post">
      Title: <input type="text" name="title" value=""><br>
      Text: <input type="text" name="text" value=""><br>
      Image: <input type="url" name="image" value=""><br>
      Video: <input type="url" name="video" value=""><br>
      <input type="submit" name="" value="Submit post">
    </form>
  </body>
</html>
